
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(61, 57, 57);
    margin: 0;
}


body.light-mode {
    background-color: white;
    color: #1a1a1a; 
}

body.light-mode .main-header,
body.light-mode .side-nav,
body.light-mode .meme-saved-page,
body.light-mode .memes-grid-container,
body.light-mode .editor-tools,
body.light-mode .saved-meme-container {
    background-color: #f2f2f2; 
    color: #131313;
}

body.light-mode .main-header {
    background-image: linear-gradient(-86deg, #c49f27 0, #a7a6a6 100%);
}

body.light-mode .toggle-mode {
    background-color: rgb(255, 255, 255);
}

body.light-mode .nav-btn,
body.light-mode .btn {
    color: #131313;
}

body.light-mode .editor-tools .input-text {
    border: 2px solid rgb(63, 63, 63);
}
