
.meme-editor-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.meme-editor-page main {
    display: flex;
    gap: 50px;
    align-items: center;
    max-width: min-content;
    margin: 50px auto;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 50px - 10px - 70px);

}

.meme-editor-canvas {
    border-radius: 10px;
}

.editor-tools {
    display: flex;
    width: auto;
    padding: 50px;
    gap: 20px;
    font-size: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #383b42;
    border-radius: 1.875em;
}

.editor-tools .input-text{
    font-size: 1em;
    background-color: #ebeef3;
    border-radius: 1.75rem;
    width: 80%;
    padding-inline-start: 50px;
    border: none;
}

.editor-tools .btn-editor {
    color: white;
    border: none;
    border-radius: 10px;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1em;
    cursor: pointer;
}

/*.input-editors-container {
    display: block;
    
}
*/

.editor-tools .btn-switch-inputs {
    background-image: linear-gradient(-38deg, #66c4dc 0%, #0c98bb 100%);
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.editor-tools .btn-add-input {
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.editor-tools .btn-delete-input {
    background-image: linear-gradient(-38deg, #cf1d37 0%, #f05036 100%);
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}


.font-editor-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    background-color: #19a59f;
    border-radius: 15px;
    padding: 0.8em;
    width: 100%;
}

.editor-tools .font-btn {
    font-size: 1em;
    aspect-ratio: 1;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.font-editor-container select {
    grid-column: 1 / -3;
    justify-self: normal;
    font-size: 1em;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.font-editor-container button:hover {
    background-color: #ffffffb2;
}

.font-editor-container select:hover {
    background-color: #ffffffb2;
}


.stickers-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #e4a92a;
}

.stickers-container .sticker-btn {
    font-size: 1em;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255)
    
}

.stickers-container .sticker-btn:hover {
    cursor: pointer;
    background-color: #ffffffb2;
}


.save-container {
    display: flex;
    gap: 5px;
}

.save-container .btn {
    margin-inline: 5px;
    padding-inline: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-decoration: none;
    color: white;
}

.save-container .btn-download {
    box-shadow: 1px 6px 0 #6b169c, inset 0 5px 0 #b863e9;
    background-color: #9920df;
}

.save-container .btn-share {
    box-shadow: 1px 6px 0 #318164, inset 0 5px 0 #7eceb0;
    background-color: #46b98f;
}

